header {
    background-color: white;
    
    width: 100vw;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    color: var(--title-color)
    
}

#page-home  {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.search {
    border: none;
    border-radius: 8px;

    padding: 30px;

    background-color: white;

    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.search label {
    margin-right: 5px;
}

.search input {
    border: none;
    
    border: 1px solid black;
    border-radius: 8px;

    margin: 10px 0px;
    padding: 5px;

    outline: none;
}

.search button {
    padding: 10px 25px;
    
    border: none;

    border-radius: 8px;

    transition: 400ms ease;
}

.search button:hover{
    background-color: rgba(129, 129, 129, 0.349);
}

#result {
    display: flex;
    align-items: center;
}

#result ul{
    border: 2px solid black;
    margin: 0px 25px;

    padding: 25px;
}