header {
    background-color: white;
    
    width: 100vw;
    height: 10vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    color: var(--title-color)
    
}

#page-home  {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.search {
    border: none;
    border-radius: 8px;

    padding: 30px;

    background-color: white;

    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;

}

.search label {
    margin-right: 5px;
}

.search input {
    border: none;
    
    border: 1px solid black;
    border-radius: 8px;

    margin: 10px 0px;
    padding: 5px;

    outline: none;
}

.search button {
    padding: 10px 25px;
    
    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 400ms ease;
}

.search button:hover{
    background-color: rgba(129, 129, 129, 0.349);
}

.title {
    text-align: center;
}

#result {
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1{
    margin-bottom: 10px;
}

table {

    border-spacing: 0;

    text-align: center;

    margin-bottom: 25px;
}

table thead{
    background-color: white;
}

table tbody {
    text-align: center;

    transition: all 400ms ease;
}

table th {
    border-bottom: 1px solid black;

    padding: 10px 20px;
}

table td {
    padding: 4px 10px;

    border-bottom: 1px solid black;
}

table td:nth-child(2n) {
    background-color:#dfe3e6;
}

table tbody td:nth-child(2n+1){
    background-color:#bec2c5 ;
}

footer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--title-color);

    padding: 10px;
    
}

@media(max-width: 740px){
   #result h1{
       font-size: 20px;
   }
}

@media(max-width: 480px){
    #result h1 {
        font-size: 17px;
    }
}